.navbar {
  background-color: #e3f2fd;
  width: 100%;
}

/* .rightSideBar {
  background-color: blueviolet;
  border-radius: 5px;
  width: 20;
  height: 370px;
  float: right;
} */

.wrapper {
  display: grid;
  background-color: #eee;
  grid-template-columns: 1fr 1fr 1fr;
  padding: 1px;
  grid-column-gap: 1em;
  grid-row-gap: 1em;
}

.wrapper article {
  background-color: #ddd;
}

@media screen and (max-width: 768px) {
  .wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
}
