.main {
  text-align: center;
  font-size: xx-large;
  color: blue;
  background-color: burlywood;
  padding: 5px;
  border: 5px solid rgb(14, 13, 13);
  margin: 50px;
}

h5 {
  text-align: center;
  font-size: xx-small;
  color: rgb(14, 14, 15);
}

p {
  padding: 1px;
  border: 1px solid rgb(14, 13, 13);
  margin: 10px;
}

p:first-child {
  color: royalblue;
  background-color: rebeccapurple;
}
